.padding-0 {
  padding: 0 !important;
}
.landing-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* margin-top: 70px; */
}
#top,
#featuresSection,
#footerSection,
#copyrightSection {
  display: block;
  position: relative;
  top: -70px !important;
  visibility: hidden;
}
a,
button:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}

/* 2. NAVBAR */
.landing-header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #133a50 !important;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.landing-navbar {
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.02);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 70px;
}
.landing-navbar-nav {
  align-items: center;
}
.landing-navbar-brand {
  display: flex;
  align-items: center;
}
.landing-navbar-container {
  display: flex;
}
.landing-navbar-brand-menu {
  margin-right: 40px;
}
.landing-menu-navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.landing-nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.landing-nav-item .nav-link {
  text-align: center;
}
.landing-nav-item:hover .nav-link-menu {
  color: #e5e5e5;
}
.landing-nav-link-menu {
  font-size: 14px;
  color: #fff;
  line-height: 1;
  font-weight: 500;
}
.landing-navbar-toggler-icon {
  background-image: "../../assets/landing/assets/images/menu.png";
}
@media screen and (max-width: 1199.98px) {
  .landing-navbar-collapse {
    background-color: #133a50;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .landing-header-scrolled .landing-navbar-collapse {
    background-color: transparent;
  }
  .landing-navbar {
    padding: 10px 0;
  }
  .landing-navbar-container {
    max-width: 100%;
  }
  .landing-navbar-brand {
    padding-left: 20px;
  }
  .landing-navbar-toggler {
    padding-right: 20px;
  }
  .nav-link-menu {
    color: #fff;
  }
  .landing-nav-item-btn {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
/* 3. HEADER SECTION */
.landing-header-section {
  padding: 180px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 43.99%,
      rgba(0, 0, 0, 0) 96.95%
    ),
    url("../../assets/landing/assets/images/landing-header-bg.png");
  background-color: #363f48;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.landing-header-section-bg {
  position: absolute;
  bottom: 0;
}
.landing-header-section-bg img {
  width: 100%;
}
.landing-header-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.landing-header-section-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.landing-header-section-content-container {
  width: 100%;
}
.landing-header-title-section {
  padding: 0;
}
.landing-header-title-section h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: #133a50;
  margin-bottom: 0;
}
.landing-header-title-section p {
  font-size: 15px;
  color: #5c5f5d;
  max-width: 450px;
  font-weight: 500;
  line-height: 1.7;
}
.landing-header-title-all-btn-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.landing-header-title-btn-section {
  margin-right: 30px;
}
.landing-header-title-video-btn-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing-header-title-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  color: #616161;
  line-height: 1.4;
}
.landing-header-title-footer a {
  color: #6d78fe;
  font-weight: 700;
}
.landing-header-title-video-btn-section img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.video-btn-title {
  font-size: 20px;
  color: #6d78fe;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1;
}
.video-btn-subtitle {
  color: #133a50;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}
.landing-header-img-section {
  position: relative;
  padding: 0;
}
.landing-header-img-card {
  margin-top: 40px;
}
.landing-header-img-card img {
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .landing-header-section {
    padding: 125px 0;
    flex-direction: column-reverse;
  }
  .landing-header-section-container {
    flex-direction: column-reverse;
  }
  .landing-header-section-content {
    position: relative;
  }
  .landing-header-title-section h1 {
    text-align: center;
  }
  .landing-header-title-section p {
    max-width: 100%;
    text-align: center;
  }
  .landing-header-title-all-btn-section {
    justify-content: center;
  }
  .landing-header-title-video-btn-content-section {
    text-align: left;
  }
  .landing-header-title-video-btn-section {
    justify-content: center;
  }
  .landing-header-title-video-btn-content-section p {
    text-align: left;
  }
  .landing-header-img-section {
    margin-bottom: 40px;
  }
}

/* 10. FOOTER SECTION */
.footer-section {
  padding: 100px 0;
  background-color: #29ab8f;
}
.footer-section-bg {
  position: absolute;
  top: 0;
  right: 0;
}
.footer-section-bg img {
  width: 100%;
}
.footer-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.footer-section-div {
  margin-top: 40px;
}
.footer-logo {
  margin: -7px 0 18px 0;
  width: 150px;
}
.footer-section-div p {
  color: #fff;
  font-size: 12px;
  line-height: 2.5;
  font-weight: 400;
  max-width: 280px;
}
.footer-section-div h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-section-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-section-ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 2.5;
  font-weight: 400;
}
.footer-section-ul li a:hover {
  color: #e5e5e5;
}
@media screen and (max-width: 991.98px) {
  .footer-section-div p {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-section {
    background-size: contain;
    padding-bottom: 0;
    background-position: 0 40px;
  }
  .footer-section-container {
    background-color: #29ab8f;
    max-width: 100%;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 575.98px) {
  .footer-section-container {
    margin-top: -30px;
  }
}
/* 11. COPYRIGHT SECTION */
.copyright-section {
  padding: 25px 0;
  background-color: #29ab8f;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  position: relative;
}
.copyright-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.copyright-section-container p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.copyright-section-container a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.landing-container {
  background-color: #e5e5e5;
}

.pod-form {
  max-width: 620px;
}
