.almost-done {
  font-family: MTN Brighter Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17.471px;
  line-height: 23px;
  color: #000000;
}
.resend-now {
  font-family: MTN Brighter Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffcc00;
  cursor: pointer;
}
