.exciting-features-container {
  background-image: url("../../../assets/landing/assets/images/exciting-features-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: CenturyGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 10rem 0 8rem 0;
}

.exciting-features-container .exciting-features-container--title {
  font-family: MTN Brighter Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.exciting-features-container .exciting-features-container--content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 4rem;
}

.exciting-features-container .exciting-features-container--content-left img {
  width: 473px;
}

.exciting-features-container .exciting-features-container--content-right {
  display: flex;
  justify-content: left;
  padding: 6rem 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.exciting-features-container .exciting-features-container--content-right li {
  list-style-type: square;
  padding: 0.4rem 0;
  text-align: left;
}

.exciting-features-container
  .exciting-features-container--content-right-stores {
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  .exciting-features-container .exciting-features-container--content {
    grid-template-columns: 1fr;
  }
  .exciting-features-container{
    background-position: center;
  }

  .exciting-features-container .exciting-features-container--content-right{
    align-items: center;
  }
}

@media (max-width: 414px) {
  .exciting-features-container .exciting-features-container--content {
    grid-template-columns: 1fr;
  }
  .exciting-features-container .exciting-features-container--content-left img{
    width: 100%;
  }
  .exciting-features-container .exciting-features-container--content-right{
    padding: 1rem;
  }

  .faq-container{
    margin: 0rem 0 6rem 0 !important;
  }
}
