.published-modal-container {
  padding: 2rem;
}

.dashboard-modal--title {
  font-family: MTN Brighter Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 31px;
  text-align: right;
  color: #000000;
  margin-bottom: 0.4rem;
}

.dashboard-modal--sub-title {
  font-family: MTN Brighter Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  text-align: right;
  color: #000000;
}

.dashboard-modal--sub-title img {
  margin-left: 0.5rem;
}

.dashboard-modal--graph-card {
  background: #ffffff;
  border: 1px solid #e6ebf1;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}

.dashboard-graph--head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
