.podcasts-container {
  font-family: MTN Brighter Sans;
  background: #fefefe;
}

.podcasts-container--top {
  background: #efefef;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.8rem;
  top: 70px;
  position: fixed;
  width: calc(100vw - 240px);
  z-index: 2;
}

.podcasts-container--top-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.podcasts-container--top-right {
  margin-left: auto;
  margin-right: 2rem;
}

.podcasts-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  position: relative;
  top: 6rem;
  background: #ffffff;
}

.podcasts--pagination {
  z-index: 2;
  position: fixed;
  top: 130px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
  width: calc(98vw - 240px);
}

.podcasts-grid .podcasts--item {
  display: flex;
  gap: 1rem;
  width: 100%;
  min-height: 365px;
}

.podcasts--item .podcast--details {
  background: #ffffff;
  border-radius: 25px;
  width: 62%;
  /* padding: 1rem; */
  box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.06);
  position: relative;
}

.podcast--item-edit {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
  background: #f5f5f5;
  border-radius: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.podcast--item-delete {
  position: absolute;
  right: 88px;
  top: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background: #f4ecec;
  border-radius: 3px;
  color: #eb5757;
}

.pod-title-container {
  display: flex;
  gap: 1.3rem;
  padding: 1.2rem;
}

.pod-title-container img {
  width: 151px;
  height: 151px;
  border-radius: 1rem;
}

.pod-list--title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  max-width: 260px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.7rem;
}

.pod-list--time {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.pod-list--genre {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);
}

.pod-item--description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding: 1.2rem;
  height: 130px;
  overflow: scroll;
  text-overflow: ellipsis;
}

.pod-item--share {
  display: flex;
  gap: 0.9rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0.7rem 1.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

/* summary section */

.podcasts--item .podcast--summary {
  background: #ffffff;
  box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  width: 38%;
  position: relative;
}

.podcast-summary--top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

@media (max-width: 1024px) {
  .podcast-summary--top {
    flex-direction: column;
    align-items: center;
  }
}

.podcast-summary--top-left {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #000000;
}

.podcast-summary--top-right {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
  color: #000000;
  cursor: pointer;
}

.podcast-summary--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.podcast-summary-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.podcast-summary-content:last-child {
  margin-top: 1rem;
}

.podcast-summary--episode-stat {
  width: 349px;
  height: 101px;
  background: #f5f5f5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

@media (max-width: 991.98px) {
  .podcasts-container--top {
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .podcast-summary--episode-stat {
    width: 200px;
    height: 90px;
  }

  .podcasts--pagination {
    width: 100%;
  }

  .podcasts--item {
    flex-direction: column;
  }

  .podcasts--item .podcast--details,
  .podcasts--item .podcast--summary {
    width: 100%;
  }

  .podcast-summary--top,
  .podcast-summary--bottom {
    border: none;
  }

  .podcast-summary-content {
    padding: 1rem 0;
  }

  .podcast-summary--bottom {
    justify-content: flex-end;
  }
}

.podcast-summary--episode-stat-name {
  text-transform: uppercase;
}

.podcast-summary--episode-stat-count {
  text-transform: lowercase;
}

.share-link {
  max-width: 100%;
  overflow: hidden;
}
